<footer class="footer">
    <section class="footer-section">
        <div class="container">
            <div class="row" *ngIf="false">
                <div class="col-md-4 col-lg-5 sm-m-15px-tb">
                    <h4 class="font-alt">About Us</h4>
                    <p class="footer-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation</p>
                    <ul class="social-icons">
                        <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a class="google" href="#"><i class="fab fa-google-plus-g"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div> <!-- col -->

                <div class="col-md-5 col-lg-4 sm-m-15px-tb">
                    <h4 class="font-alt">Helpful Links</h4>
                    <div class="d-flex justify-content-around">
                        <ul class="fot-link">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Carrers</a></li>
                            <li><a href="#">Awards</a></li>
                            <li><a href="#">Users Program</a></li>
                            <li><a href="#">Locations</a></li>
                        </ul>
                        <ul class="fot-link">
                            <li><a href="#">Integrations</a></li>
                            <li><a href="#">API</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">Documentation</a></li>
                            <li><a href="#">Release Notes</a></li>
                        </ul>
                    </div>
                </div> <!-- col -->

                <div class="col-md-3 col-lg-3 sm-m-15px-tb">
                    <h4 class="font-alt">Get in touch</h4>
                    <p>12345 Little Lonsdale St, Melbourne</p>
                    <p><span>E-Mail:</span> info@example.com </p>
                    <p><span>Phone:</span> (123) 123-456</p>
                </div> <!-- col -->

            </div>

            <div class="footer-copy text-muted">
                <div class="row">
                    <div class="col-12">
                        <p class="my-4">
                            <small>© 2020 All Rights Reserved. 
                                <span class="pull-right">
                                    Made with <i class="fa fa-heart"></i> and <i class="fa fa-coffee"></i> by
                                    <a href="https://sebastianbecerra.cl/">Sebastián Becerra</a>.
                                </span>
                            </small>
                        </p>
                    </div><!-- col -->
                </div> <!-- row -->
            </div> <!-- footer-copy -->

        </div> <!-- container -->
    </section>
</footer>