<header class="">
    <nav class="navbar navbar-dark fixed-top navbar-expand-lg">
        <div class="container">
            <!-- Brand -->
            <h3 class="text-uppercase">
                <a class="navbar-brand" routerLink="/">
                    <img src="/assets/logo.png" alt="Calcula tu boleta" />
                    Calcula tu boleta
                </a>
            </h3>
            <!-- / -->

            <!-- Mobile Toggle -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarRedBell"
                aria-controls="navbarRedBell" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <!-- / -->

            <!-- Top Menu -->
            <div class="collapse navbar-collapse justify-content-end" id="navbarRedBell">
                <ul class="navbar-nav">
                    <li><a class="nav-link active" routerLink="/">Inicio</a></li>
                    <!-- <li><a class="nav-link" href="https://sebastianbecerra.cl/contacto">Ayuda</a></li> -->
                </ul>
            </div>
            <!-- / -->

        </div><!-- Container -->
    </nav> <!-- Navbar -->
</header>